header,
footer {
  display: flex;
  height: 15vh;
  background-color: var(--header-footer-color);
  color: var(--text-white);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding);
}
footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  z-index: 1;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--margin2);
}
